@ind-xs:  2px;
@ind-s:   @ind-xs * 2;
@ind-m:   @ind-xs * 4;
@ind-l:   @ind-xs * 8;
@ind-xl:  @ind-xs * 16;

@btn-h:32px;
@panel-h: @btn-h + (@ind-xs * 2);


/*   mixins   */
.no-ind(){
  margin:0;
  padding: 0;
}