@import "../../style/default_style";

.nymphea_tooltip{
  @height:24px;
  position: absolute;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  border-radius: 4px;
  height: @height;
  line-height: @height;
  padding: 0 @ind-m;
  color:"#ffffff";
  background: "#616161e6";
  &.template{
    height: auto;
  }
}
